@page
@model HireEachOther.Pages.CreateAdsModel
@{
    ViewData["Title"] = "CreateAds";
}


    <form class="border border-light p-5" method="post">

        <p class="h4 mb-4 text-center">Create new Ad</p>

        <label asp-for="Ad.Title" class="active" />
        <input asp-for="Ad.Title" class="form-control mb-4" placeholder="Title">

        <label asp-for="Ad.Address" />
        <input asp-for="Ad.Address" class="form-control mb-4" placeholder="Address">

        <label asp-for="Ad.StartDate" />
        <input asp-for="Ad.StartDate" class="form-control mb-4" placeholder="Date">

        <label asp-for="Ad.Payment" />
        <input asp-for="Ad.Payment" class="form-control mb-4" placeholder="Payment">

        <label>Duration</label>
        <input class="form-control mb-4" placeholder="Text input">

        <label asp-for="Ad.Description" />
        <input asp-for="Ad.Description" class="form-control mb-4" placeholder="Description">

      
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    </form>


    