@page
@using HireEachOther.Models
@model HireEachOther.Pages.CreateAdsModel
@{
    ViewData["Title"] = "CreateAds";
}

<p class="h4 mb-4 text-center">@TempData["RequestType"]</p>
<div class="container mt-5">
    <form class="border border-light p-5" method="post">
        <input asp-for="Ad.Id" class="form-control mb-4" type="hidden">

        <!--Grid row start-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Title">Title</label>
                    <input asp-for="Ad.Title" class="form-control mb-4">
                    <span asp-validation-for="Ad.Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!--Grid row end-->

        <!--Grid row start-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.PeopleNeeded">Number of people</label>
                    <input asp-for="Ad.PeopleNeeded" class="form-control mb-4">
                    <span asp-validation-for="Ad.PeopleNeeded" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Address">Location</label>
                    <select class="browser-default custom-select">
                      <option selected disabled hidden></option>
                      <option value="Burgas">Burgas</option>
                      <option value="Plovdiv">Plovdiv</option>
                      <option value="Sofia">Sofia</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Grid row end-->

        <!--Grid row start-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Duration">Duration (hours)</label>
                    <input asp-for="Ad.Duration" class="form-control mb-4">
                    <span asp-validation-for="Ad.Duration" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.StartDate">Date</label>
                    <input asp-for="Ad.StartDate" type="text" id="date" class="form-control mb-4">
                    <span asp-validation-for="Ad.StartDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!--Grid row end-->

        <!--Grid row start-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Payment">Payment</label>
                    <input asp-for="Ad.Payment" class="form-control mb-4">
                    <span asp-validation-for="Ad.Payment" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Type" class="control-label"></label>
                    <select asp-for="Ad.Type" class="form-control" asp-items="Html.GetEnumSelectList<AdType>()"></select>
                    <span asp-validation-for="Ad.Type" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!--Grid row end-->

        <!--Grid row start-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Ad.Description">Description</label>
                    <textarea asp-for="Ad.Description" class="form-control mb-4"></textarea>
                    <span asp-validation-for="Ad.Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!--Grid row end-->

        <!--Grid row start-->
        <div class="row">
            <button class="btn btn-info btn-block my-4" type="submit">Create</button>
        </div>
        <!--Grid row end-->
    </form>
</div>
