@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <div>
        <a asp-page="CreateAds" class="btn btn-outline-info btn-rounded waves-effect">
            Looking for Help
        </a>

        <a class="btn btn-outline-warning btn-rounded waves-effect" > Looking for Work</a>


    </div>
</div> 
