@page
@model HireEachOther.Pages.MyAdsModel
@{
    ViewData["Title"] = "MyAds";
}

<h1>My ads</h1>

@if (Model.AdsCollection.Count == 0)
{
    <div class="badge-info">
        <h3>Currently you have no ads</h3>
    </div>
}
else
{
    @foreach (var ad in Model.AdsCollection)
    {
        <partial name="_AdSummary" model="ad" />
        <button class="btn btn-info btn-block my-4" style="width:100px">Edit</button>
        <button class="btn btn-info btn-block my-4" style="width:100px">Details</button>
        <button class="btn btn-info btn-block my-4" style="width:100px">Archive</button>
    }
}



